<div class="well">
  <div class="next-event"><%= t '.title' %></div>
  <div class="event-date">
    <div class="event-month"><%= l event.time, :format => '%b' %></div>
    <div class="event-day"><%= l event.time, :format => '%d' %></div>
  </div>
  <div class="event-details">
    <div class="title"><%= link_to event.name, event.event_url %></div>
    <div class="subtitle"><%= l event.time, :format => :long %> &#9733; <%= event.yes_rsvp_count %> <%= t '.attending' %></div>
    <%= render :partial => 'shared/event_attendee_photos', :locals => { :event => event, :photo_options => '30x30#'} %>
    <div class="rsvp"><%= link_to t('.register'), event.event_url, :class => "btn btn-success btn-large pull-right" %></div>
  </div>
</div>
