<div class="hero-unit">

  <h1>TOKYO Rails Meetup</h1>

  <p>The TOKYO Rails Meetup Group is for web engineers who are using, or are interested in learning more about the Ruby on Rails framework.</p>
  <p>We want to encourage all Rubyists and Railers to join us on the first Thursday of every month for good food, drinks and conversation at the COOKPAD offices in Shirokanedai, Tokyo.</p>
  <p>The events are free and open to all who register, and we particularly want to encourage both Japanese and English speakers to come and join in.</p>

  <ul class="media-grid">
    <li>
      <%= link_to image_tag("http://photos2.meetupstatic.com/photos/event/c/6/f/3/global_48170931.jpeg", :class => "thumbnail"), "#" %>
    </li>
    <li>
      <%= link_to image_tag("http://photos3.meetupstatic.com/photos/event/5/5/2/a/global_55641802.jpeg", :class => "thumbnail"), "#" %>
    </li>
    <li>
      <%= link_to image_tag("http://photos4.meetupstatic.com/photos/event/5/6/3/8/global_55642072.jpeg", :class => "thumbnail"), "#" %>
    </li>
    <li>
      <%= link_to image_tag("http://photos4.meetupstatic.com/photos/event/c/5/e/f/global_48170671.jpeg", :class => "thumbnail"), "#" %>
    </li>
  </ul>

  <p>
    <%= link_to "Register for the Next Event", "http://meetup.com/tokyo-rails", :class => "btn success large pull-right" %>
  </p>

</div>

<div class="row">

  <div class="span6">
    <h2>Members</h2>
    <p>Everyone is welcome to join the TOKYO Rails community. Join here or see the current membership list to meet those involved.
    <p><%= link_to "More &raquo;".html_safe, "#", :class => "btn" %></p>
  </div>

  <div class="span5">
    <h2>Meetups</h2>
    <p>See what meetups we have scheduled and review all the previous events here. Register early for the next event if you plan to come.</p>
    <p><%= link_to "More &raquo;".html_safe, "#", :class => "btn" %></p>
  </div>

  <div class="span5">
    <h2>Projects</h2>
    <p>Current open source projects members are working on, and ideas for new projects you can join are listed here.</p>
    <p><%= link_to "More &raquo;".html_safe, "#", :class => "btn" %></p>
  </div>

</div>
