<div class="logo">
  <%= image_tag "tokyo-rails-400x193.png", :alt => 'TOKYO Rails Meetup' %>
</div>
<div class="hero-unit">

  <%= render 'next_event', :event => Event.upcoming.recent.last if Event.upcoming.present? %>

  <p><%= t '.intro1' %></p>

  <ul class="thumbnails">
    <li>
      <%= link_to image_tag("crowd-180.jpg"), "#", :class => "thumbnail" %>
    </li>
    <li>
      <%= link_to image_tag("tofu-180.jpg"), "#", :class => "thumbnail" %>
    </li>
    <li>
      <%= link_to image_tag("info-180.jpg"), "#", :class => "thumbnail" %>
    </li>
    <li>
      <%= link_to image_tag("roomba-180.jpg"), "#", :class => "thumbnail" %>
    </li>
  </ul>

  <p><%= t '.intro3' %></p>

</div>

<div class="row">

  <div class="span4">
    <h2><%= link_to t('.members.title'), members_path %></h2>
    <p><%= t '.members.brief' %>
    <p><%= link_to t('.more.html'), members_path, :class => "btn btn-info" %></p>
  </div>

  <div class="span4">
    <h2><%= link_to t('.events.title'), events_path %></h2>
    <p><%= t '.events.brief' %></p>
    <p><%= link_to t('.more.html'), events_path, :class => "btn btn-info" %></p>
  </div>

  <div class="span4">
    <h2><%= link_to t('.projects.title'), "#" %></h2>
    <p><%= t '.projects.brief' %></p>
    <p><%= link_to t('.more.html'), "#", :class => "btn btn-info" %></p>
  </div>

</div>
