<% content_for :on_home do %>active<% end %>

<div class="hero-unit">

  <h1>TOKYO Rails Meetup</h1>

  <p><%= t 'sections.home.intro1' %></p>
  <p><%= t 'sections.home.intro2' %></p>
  <p><%= t 'sections.home.intro3' %></p>

  <ul class="media-grid">
    <li>
      <%= link_to image_tag("http://photos2.meetupstatic.com/photos/event/c/6/f/3/global_48170931.jpeg", :class => "thumbnail"), "#" %>
    </li>
    <li>
      <%= link_to image_tag("http://photos3.meetupstatic.com/photos/event/5/5/2/a/global_55641802.jpeg", :class => "thumbnail"), "#" %>
    </li>
    <li>
      <%= link_to image_tag("http://photos4.meetupstatic.com/photos/event/5/6/3/8/global_55642072.jpeg", :class => "thumbnail"), "#" %>
    </li>
    <li>
      <%= link_to image_tag("http://photos4.meetupstatic.com/photos/event/c/5/e/f/global_48170671.jpeg", :class => "thumbnail"), "#" %>
    </li>
  </ul>

  <p>
    <%= link_to t('buttons.register'), "http://meetup.com/tokyo-rails", :class => "btn success large pull-right" %>
  </p>

</div>

<div class="row">

  <div class="span6">
    <h2><%= t 'sections.members.title' %></h2>
    <p><%= t 'sections.members.brief' %>
    <p><%= link_to "#{t :more} &raquo;".html_safe, members_path, :class => "btn" %></p>
  </div>

  <div class="span5">
    <h2><%= t 'sections.meetups.title' %></h2>
    <p><%= t 'sections.meetups.brief' %></p>
    <p><%= link_to "#{t :more} &raquo;".html_safe, "#", :class => "btn" %></p>
  </div>

  <div class="span5">
    <h2><%= t 'sections.projects.title' %></h2>
    <p><%= t 'sections.projects.brief' %></p>
    <p><%= link_to "#{t :more} &raquo;".html_safe, "#", :class => "btn" %></p>
  </div>

</div>
