<h1>Listing spikes</h1>
<div class="hero-unit">
  <h2><%= t '.title' %></h2>
  <p><%= t '.subtitle' %></p>
  <p><%= link_to t('.new_spike'), new_spike_path, class: "btn btn-success btn-large pull-right" %></p>
</div>

<table id='spikes' class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t 'simple_form.labels.spike.name' %></th>
      <th><%= t 'simple_form.labels.spike.description' %></th>
    </tr>
  </thead>

  <tbody>
    <% @spikes.each_with_index do |spike, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= spike.name %></td>
        <td><%= spike.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
