<h1>Listing spikes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spikes.each do |spike| %>
  <tr>
    <td><%= spike.name %></td>
    <td><%= spike.description %></td>
    <td><%= link_to 'Show', spike %></td>
    <td><%= link_to 'Edit', edit_spike_path(spike) %></td>
    <td><%= link_to 'Destroy', spike, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Spike', new_spike_path %>
