<div class="hero-unit">
  <% if @past_events.empty? or @upcoming_events.empty? %>
    <%= t '.api_error' %>
  <% else %>
    <h2><%= t '.upcoming', :number => @upcoming_events.size %></h1>
    <% @upcoming_events.each do |event| %>
      <div class="event">
        <h3><%= link_to event.name, event.event_url %></h3>
        <p> <%= l event.date, :format => :long %> </p>
      </div>
    <% end %>

    <h2><%= t '.previous', :number => @past_events.size %></h1>
    <% @past_events.each do |event| %>
      <div class="event">
        <h3><%= link_to event.name, event.event_url %></h3>
        <p> <%= l event.date, :format => :long %> </p>
      </div>
    <% end %>
  <% end %>
</div>
