<% if @past_events.nil? && @upcoming_events.nil? %>
  <%= t '.api_error' %>
<% else %>
  <div class="hero-unit">
    <% if @upcoming_events.empty? %>
      <h2><%= t '.no_upcoming_meetups' %></h2>
      <p>
        <%= link_to t('.register'), "http://meetup.com/tokyo-rails", :class => "btn btn-success btn-large pull-right" %>
      </p>
    <% else %>
      <% @upcoming_events.each do |event| %>
        <h1><%= t '.next_meetup', :days => distance_of_time_in_words_to_now(event.time) %></h1>
        <h2><%= link_to event.name, event.event_url %></h3>
        <h3><%= t '.attending', :number => event.yes_rsvp_count %></h3>
        <p><%= l event.time, :format => :long %></p>
        <p>
          <%= link_to t('.join'), event.event_url, :class => "btn btn-success btn-large pull-right" %>
        </p>
        <% end %>
    <% end %>
  </div>

  <div class="row">
    <h2><%= t '.previous', :number => @past_events.size %></h1>
  </div>

  <% @past_events.recent.each do |event| %>
    <div class="row">
      <h2><%= link_to event.name, event.event_url %></h3>
      <h3><%= t '.attended', :number => event.yes_rsvp_count %></h3>
      <p> <%= l event.time, :format => :long %> </p>
    </div>
  <% end %>
<% end %>
</div>
