<% if @past_events.nil? && @upcoming_events.nil? %>
  <%= t '.api_error' %>
<% else %>
  <div class="hero-unit">
    <% if @upcoming_events.empty? %>
      <h2><%= t '.no_upcoming_meetups' %></h2>
      <p>
        <%= link_to t('.register'), "http://meetup.com/tokyo-rails", :class => "btn btn-success btn-large pull-right" %>
      </p>
    <% else %>
      <% @upcoming_events.each do |event| %>
        <h1><%= t '.next_meetup', :days => distance_of_time_in_words_to_now(event.time) %></h1>
        <h2><%= link_to event.name, event.event_url %></h3>
        <p><%= l event.time, :format => :long %></p>
        <h3><%= t '.attending', :number => event.yes_rsvp_count %></h3>
        <ul class="attending">
          <% Rsvp.where(:meetup_id => event.uid).attending.each do |rsvp| %>
            <li class="member"><%= image_tag(rsvp.member.photo.thumb('50x50#').url) if rsvp.member.present? %></li>
          <% end %>
        </ul>
        <p>
          <%= link_to t('.join'), event.event_url, :class => "btn btn-success btn-large pull-right" %>
        </p>
        <% end %>
    <% end %>
  </div>

  <div class="row">
    <h2><%= t '.previous', :number => @past_events.size %></h1>
  </div>

  <% @past_events.recent.each do |event| %>
    <div class="row">
      <h2><%= link_to event.name, event.event_url %></h3>
    <% unless event.images.empty? %>
    <h3><%= t '.photos' %></h3>
    <ul class="thumbnails">
      <% event.images.each do |photo| %>
        <li class="photo_photo">
          <%= link_to image_tag(photo.thumb('90x90#').url, :alt => "", :'data-original-title' => "", :'data-content' => ""), photo.file.jpg.url, :class => "thumbnail", :target => "_blank" if photo %>
        </li>
      <% end %>
    </ul>
    <% end %>
      <h3><%= t '.attended', :number => event.yes_rsvp_count %></h3>
      <ul class="attending">
        <% Rsvp.where(:meetup_id => event.uid).attending.each do |rsvp| %>
          <li class="member"><%= image_tag(rsvp.member.photo.thumb('30x30#').url) if rsvp.member.present? && rsvp.member.photo %></li>
        <% end %>
      </ul>

      <p> <%= l event.time, :format => :long %> </p>
    </div>
  <% end %>
<% end %>
</div>
