<div class="hero-unit">

  <div class="row">
    <div class="span8">
      <h1><%= @event.name %></h1>
    </div>
  </div>

  <% unless @event.html.nil? %>
    <div class="embed_html">
      <%= @event.html.try(:html_safe) %>
    </div>
    <br/>
  <% end %>

  <% unless @event.yes_rsvp_count == 0 %>
    <h3><%= t '.attended', :number => @event.yes_rsvp_count %></h3>
    <%= render :partial => 'shared/event_attendee_photos', :locals => { :event => @event, :photo_options => '50x50#'} %>
    <br/>
  <% end %>

  <% unless @event.images.empty? %>
    <h3><%= t '.photos' %></h3>
    <%= render :partial => "event_photos", :locals => { :event => @event }%>
    <%= render :partial => 'shared/bootstrap_gallery_modal_and_scripts' %>
    <br/>
  <% end %>

  </div>
</div>

