<tr>
  <td><%= project_counter + 1 %></td>
  <td>
    <h3><%= project.title %></h3>
    <p class="description"><%= project.description %> - <%= link_to project.github_url, project.github_url %></p>
  </td>
  <td>
    <ul>
      <% project.members.each do |member| %>
        <li class="clearfix <%= member.upcoming_rsvp_response %>">
          <%= image_tag(member.photo.thumb('50x50#').url) if member.photo %>
          <p><%= member.first_name %></p>
          <% unless Event.upcoming.blank? %>
            <span class='label <%= member.upcoming_rsvp_response %>'><%= t(".rsvp_#{member.upcoming_rsvp_response}") %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
    <% if project.alumni.any? %>
    <h4 class="subtitle">Alumni</h4>
    <ul class="alumni">
      <% project.alumni.each do |alumnus| %>
        <li>
          <%= image_tag(alumnus.photo.thumb('30x30#').url, title: alumnus.first_name) if alumnus.photo %>
        </li>
      <% end %>
    </ul>
    <% end %>
  </td>
  <td class="action">
    <% if logged_in? && current_user.member_of?(project) %>
      <p><em><%= t('.joined')%> <%= link_to t('.leave'), current_user.memberships.where(project_id: project).first, method: :delete, class: 'danger', data: { confirm: 'Leave this project?' } %></em></p>
    <% elsif logged_in? && current_user.memberships.active.any? %>
      <p></p>
    <% else %>
      <%= link_to icon(:user, :white) + t('.join'), memberships_path(membership: { project_id: project }), method: :post, class: "btn btn-large btn-success" %>
    <% end %>
  </td>
</tr>
