<tr>
  <td><%= project_counter + 1 %></td>
  <td>
    <h3><%= project.title %></h3>
    <p class="description"><%= project.description %> - <%= link_to project.github_url, project.github_url %></p>
  </td>
  <td>
    <ul>
      <% project.members.each do |member| %>
        <li class="clearfix">
          <%= image_tag(member.photo.thumb('50x50#').url) if member.photo %>
          <p><%= member.first_name %></p>
          <span class='label <%= member.upcoming_rsvp_response %>'><%= t(".rsvp_#{member.upcoming_rsvp_response}") %></span>
        </li>
      <% end %>
    </ul>
  </td>
  <td class="action">
    <% if logged_in? && current_user.member_of?(project) %>
      <p><em><%= t('.joined')%> <%= link_to t('.leave'), current_user.memberships.where(project_id: project).first, method: :delete, class: 'danger', data: { confirm: 'Leave this project?' } %></em></p>
    <% else %>
      <%= link_to icon(:user, :white) + t('.join'), memberships_path(membership: { project_id: project }), method: :post, class: "btn btn-large btn-success" %>
    <% end %>
  </td>
</tr>
