<div class="hero-unit">
  <h1><%= t '.title' %></h1>
  <p><%= t '.description' %></p>
</div>

<h2><%= Event.upcoming.present? ? t('.subtitle', date: l(Event.upcoming.recent.last.time, format: :long)) : t('.subtitle_no_schedule') %></h2>
<table id='projects' class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('.project') %></th>
      <th><%= t('.members') %></th>
    </tr>
  </thead>

  <tbody>
    <%= render @projects %>
  </tbody>
</table>
