<!DOCTYPE html>
<html>
<head>
  <title>TOKYO Rails</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="topbar">
    <div class="fill">
      <div class="container">
        <%= link_to "TOKYO Rails", root_path, :class => "brand" %>
        <ul class="nav">
          <li class="<%= yield :on_home %>"><%= link_to "Home", root_path %></li>
          <li class="<%= yield :on_members %>"><%= link_to "Members", members_path %></li>
          <li class="<%= yield :on_meetups %>"><%= link_to "Meetups", "#" %></li>
          <li class="<%= yield :on_projects %>"><%= link_to "Projects", "#" %></li>
        </ul>
        <ul class="nav secondary-nav">
          <li class="active"><%= link_to "English", "#" %></li>
          <li><%= link_to "日本語", "#" %></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="container">
  <%= yield %>
  </div>


  <footer>
  </footer>

</body>
</html>
