<!DOCTYPE html>
<html>
<head>
  <title><%= t('.page_title') %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body class="<%= controller_name %> <%= action_name %> <%= I18n.locale %>">

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "TOKYO Rails", locale_root_path, :class => "brand" %>
        <ul class="nav">
          <li class="home"><%= link_to t('.home.title'), locale_root_path %></li>
          <li class="members"><%= link_to t('.members.title'), members_path %></li>
          <li class="events"><%= link_to t('.events.title'), events_path %></li>
          <li class="projects"><%= link_to t('.projects.title'), projects_path %></li>
          <% if current_user %>
            <li class="myprofile"><%= link_to t('.members.profile'), member_path(current_user) %></li>
          <% end %>
        </ul>
        <ul class="nav pull-right">
          <li class="en_locale"><%= link_to t('.locales.en'), :locale => :en %></li>
          <li class="ja_locale"><%= link_to t('.locales.ja'), :locale => :ja %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <%= link_to image_tag('fork_me.png'), "http://www.github.com/tokyorails/tokyorails", :class => 'fork_me' %>
    <%= link_to t('.visit_meetup_dot_com'), "http://www.meetup.com/tokyo-rails", :class => 'visit_meetup' %>
    <% if current_user %>
      <%= link_to t('.logout'), logout_path, :class => 'login' %>
    <% else %>
      <%= link_to t('.login'), "/auth/meetup", :class => 'login' %>
    <% end %>
  <%= yield %>
  </div>

  <footer>
  </footer>

  <%= render 'layouts/google_analytics' %>

</body>
</html>
