<!DOCTYPE html>
<html>
<head>
  <title><%= t('.page_title') %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %> <%= I18n.locale %>">

  <div class="topbar">
    <div class="fill">
      <div class="container">
        <%= link_to "TOKYO Rails", locale_root_path, :class => "brand" %>
        <ul class="nav">
          <li class="home"><%= link_to t('.home.title'), locale_root_path %></li>
          <li class="members"><%= link_to t('.members.title'), members_path %></li>
          <li class="photos"><%= link_to t('.photos.title'), photos_path %></li>
          <li class="events"><%= link_to t('.meetups.title'), events_path %></li>
          <li class="projects"><%= link_to t('.projects.title'), "#" %></li>
        </ul>
        <ul class="nav secondary-nav">
          <li class="en_locale"><%= link_to t('.locales.en'), :locale => :en %></li>
          <li class="ja_locale"><%= link_to t('.locales.ja'), :locale => :ja %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
  <%= yield %>
  </div>

  <footer>
  </footer>

</body>
</html>
