<div class="hero-unit">
  <h1><%= t '.roster', :number => Member.all.size %></h1>

  <%= form_tag members_path, :method => :get, :class => "form-inline" do %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", :class => "btn" %>
    <%= link_to "Show All", members_path() %>
  <% end %>

  <%= paginate @members %>
  <ul class="thumbnails">
    <% @members.each_with_index do |member, i| %>
      <% if member.photo %>
        <li class="member_photo ">
          <%= link_to image_tag(member.photo.thumb('90x90#').url, :alt => member.name), member, :class => thumbnail_class(i), :'title' => member.name, :'data-content' => member.bio %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= paginate @members %>
</div>
