<div class="hero-unit">
  <h1><%= t '.roster', :number => @members.size %></h1>

  <%= form_tag members_path, :method => :get, :class => "form-inline" do %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", :class => "btn" %>
    <%= link_to "Show All", members_path() %>
  <% end %>

  <ul class="thumbnails">
    <% @members.shuffle.each do |member| %>
    <li class="member_photo">
      <%= link_to image_tag(member.photo.thumb('90x90#').url, :alt => member.name), member, :class => "thumbnail", :'title' => member.name, :'data-content' => member.bio if member.photo %>
    </li>
  <% end %>
  </ul>
</div>
