<div class="hero-unit">

  <div class="row">
    <div class="span3">
      <%= image_tag(@member.photo.thumb('150x150#').url, :alt => @member.name) %>
    </div>
    <div class="span10">
      <h1><%= @member.name %></h1>
      <!-- twitter_username here? -->
    </div>
  </div>

  <div class="bio">
    <%= @member.bio %>
  </div>

  <% if !projects(@member).empty? %>
    <h2><%= t('.github_projects') %></h2>
    <% projects(@member).each do |item| %>
   	  <h3><%= link_to item["name"], item["html_url"] %></h3>
	  <%= item["description"] %>
    <% end %>
  <% end %>
  
  </div>
</div>

