<div class="hero-unit">

  <div class="row">
    <div class="span2">
      <%= image_tag(@member.photo.thumb('150x150#').url, :alt => @member.name) if @member.photo %>
    </div>
    <div class="span8">
      <h1><%= @member.name %></h1>
      <div class="stats">
        <div class="attended"><%= t('.attended', count: Rsvp.where(member_id: @member.uid).count) %></div>
        <% unless Event.upcoming.blank? %>
          <%= t('.next_event', date: l(Event.upcoming.first.time, format: :short)) %>: <span class='label <%= @member.upcoming_rsvp_response %>'><%= t(".rsvp_#{@member.upcoming_rsvp_response}") %></span>
        <% end %>
      </div>
      <!-- twitter_username here? -->
    </div>
  </div>

  <div class="bio">
    <%= @member.bio %>
  </div>

  <% if @project %>
    <div id="collaborators">
      <h2><%= t('.collaborating', name: @member.name, project: @project.title) %></h2>
      <ul>
        <% @project.members.each do |member| %>
          <li>
            <%= link_to image_tag(member.photo.thumb('50x50#').url), member_path(member) if member.photo %>
          </li>
        <% end %>
      </ul>
      <p><%= link_to t('.view_all'), projects_path, class: 'btn btn-small btn-success' %></p>
    </div>
  <% end %>

  <% if @repos.any? %>
    <div class="well">
    <h2><%= t('.github_projects') %></h2>
    <% @repos.each do |repo| %>
      <%= render 'repo', repo: repo %>
    <% end %>
    </div>
  <% end %>

  <% if @forks.any? %>
    <div class="well">
    <h2><%= t('.github_forked_repos') %></h2>
    <% @forks.each do |repo| %>
      <%= render 'repo', repo: repo %>
    <% end %>
    </div>
  <% end %>

  </div>
</div>

