<div class="hero-unit">

  <div class="row">
    <div class="span2">
      <%= image_tag(@member.photo.thumb('150x150#').url, :alt => @member.name) if @member.photo %>
    </div>
    <div class="span8">
      <h1><%= @member.name %></h1>
      <!-- twitter_username here? -->
    </div>
  </div>

  <div class="bio">
    <%= @member.bio %>
  </div>

  <% if @repos.any? %>
    <h2><%= t('.github_projects') %></h2>
    <% @repos.each do |repo| %>
      <%= render 'repo', repo: repo %>
    <% end %>
  <% end %>

  <% if @forks.any? %>
    <h2><%= t('.github_forked_repos') %></h2>
    <% @forks.each do |repo| %>
      <%= render 'repo', repo: repo %>
    <% end %>
  <% end %>

  </div>
</div>

